@model Stockontroll.Models.Usuario

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}


<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-sm-6">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h2>Entrar</h2>
                    <hr />
                    @{
                        if (TempData["error"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @TempData["error"]
                            </div>
                        }
                    }

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
                            <small id="emailHelp" class="form-text text-muted">Nunca compartilharemos seu email com alguém</small>
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div>
                            @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                            @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group">
                        <input type="submit" value="Entrar" class="btn btn-primary" />
                    </div>
                </div>
                }

            </div>
            <div class="col-sm-6">

                <h6>
                    Ainda não tem uma conta?
                    <a href="@Url.Action("Cadastro", "Conta")">Cadastre-se aqui</a>
                </h6>
            </div>
        </div>
    </div>
</section>