@model IEnumerable<Stockontroll.Models.Produto>
@using System;
@using Stockontroll.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<section class="banner">
    <div class="banner-content">
        <h1 class="display-1 text-spacer-lg">autumn</h1>
        <h3 class="display-2 section-subtitle">See that collection</h3>
        <p class="text-justify">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum dicta harum
            iusto atque possimus,
            perspiciatis esse facilis sunt repellat architecto in molestiae quos a quam reiciendis aspernatur
            dolores excepturi ea.
        </p>
        <button class="btn btn-primary btn-lg">SHOP NOW</button>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="mb-5">
                    <h3 class="section-title">Novidades</h3>
                    <div class="products">
                        @{
                            Usuario user = (Usuario)Session["Usuario"];
                        }

                        @foreach (var item in Model)
                        {
                            <!-- START Product Example Usage -->
                        <a href="@Url.Action("Produto","Home", new { id = item.Id })" class="link">
                            <figure class="product">
                                <h6>No estoque: @item.Quantidade</h6>
                                <img src="~/Content/images/tenis.jpg" class="img-fluid" alt="product">
                                <figcaption class="product-body">
                                    <h4 class="product-name">@Html.DisplayFor(model => item.Nome)</h4>

                                    @{
                                        float preco = item.Preco;

                                        double parcela = (item.Preco / 10);
                                        parcela = Math.Truncate(parcela * 100) / 100;
                                    }
                                    <h5 class="product-price">R$@(preco)</h5>
                                    <h5 class="product-price">ou <small>10x</small> R$@(parcela)</h5>
                                    <div class="text-right">
                                        @if (user != null)
                                        {
                                            <a href="@Url.Action("Adicionar", "Carrinho", new { id = item.Id })" class="btn btn-lg btn-primary">
                                                <em class="fas fa-shopping-cart"></em> Carrinho
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("Login", "Conta")" class="btn btn-lg btn-primary">
                                                <em class="fas fa-shopping-cart"></em> Carrinho
                                            </a>
                                        }
                                        <br />
                                    </div>
                                </figcaption>
                            </figure>
                        </a>
                            <!-- END Product Example Usage -->
                        }
                    </div>
                </div>



               
            </div>
        </div>
    </div>
</section>
