@model IEnumerable<Stockontroll.Models.Produto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<section class="banner">
    <div class="banner-content">
        <h1 class="display-1 text-spacer-lg">autumn</h1>
        <h3 class="display-2 section-subtitle">See that collection</h3>
        <p class="text-justify">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum dicta harum
            iusto atque possimus,
            perspiciatis esse facilis sunt repellat architecto in molestiae quos a quam reiciendis aspernatur
            dolores excepturi ea.
        </p>
        <button class="btn btn-primary">SHOP NOW</button>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <h3 class="section-title">Categorias</h3>

                <ul class="categories">
                    <a class="category">
                        <li>
                            <em class="fas fa-chevron-right"></em>Camisas
                        </li>
                    </a>
                    <a class="category">
                        <li>
                            <em class="fas fa-chevron-right"></em>Sapatos
                        </li>
                    </a>
                    <a class="category">
                        <li>
                            <em class="fas fa-chevron-right"></em>Jaquetas
                        </li>
                    </a>
                </ul>
            </div>
            <div class="col-sm-9">
                <div class="mb-2">
                    <h3 class="section-title">Procure por peças</h3>
                    <div class="custom-input-group">
                        <input class="input" type="text">
                        <div class="input-icon">
                            <button>
                                <em class="fas fa-search"></em>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mb-5">
                    <h6 class="font-light">resultados da pesquisa</h6>

                    <div class="products">

                        @foreach (var item in Model)
                        {
                            <!-- START Product Example Usage -->
                            <figure class="product">
                                <img src="~/Content/images/tenis.jpg" class="img-fluid" alt="product">
                                <figcaption class="product-body">
                                    <h3 class="product-name">@Html.DisplayFor(model => item.Nome)</h3>

                                    <h5 class="product-price">R$ @Html.DisplayFor(model => item.Preco)</h5>
                                    <h5 class="product-price">ou <small>10x</small> R$  @Html.DisplayFor(model => item.Preco)</h5>

                                    <div class="text-right">
                                        <button class="btn btn-sm btn-default">
                                            ver mais
                                        </button>
                                        <button class="btn btn-sm btn-primary">
                                            <em class="fas fa-shopping-cart"></em>
                                        </button>
                                    </div>
                                </figcaption>
                            </figure>
                            <!-- END Product Example Usage -->
                        }
                        </div>
                </div>

                <h3 class="section-title">Produtos em destaque</h3>

                <div class="products">

                    @foreach (var item in Model)
                    {
                        <!-- START Product Example Usage -->
                        <figure class="product">
                            <img src="~/Content/images/tenis.jpg" class="img-fluid" alt="product">
                            <figcaption class="product-body">
                                <h3 class="product-name">@Html.DisplayFor(model => item.Nome)</h3>

                                <h5 class="product-price">R$ @Html.DisplayFor(model => item.Preco)</h5>
                                <h5 class="product-price">ou <small>10x</small> R$  @Html.DisplayFor(model => item.Preco)</h5>

                                <div class="text-right">
                                    <button class="btn btn-sm btn-default">
                                        ver mais
                                    </button>
                                    <button class="btn btn-sm btn-primary">
                                        <em class="fas fa-shopping-cart"></em>
                                    </button>
                                </div>
                            </figcaption>
                        </figure>
                        <!-- END Product Example Usage -->
                    }
                </div>

            </div>
        </div>
    </div>
</section>
