
@using System;
@using Stockontroll.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="container">

    <h2 class="mb-3">Carrinho</h2>

    <ul class="list-unstyled">
        @{
            var carrinho = (List<Item>)Session["carrinho"];
            int i = 0;
        }
        @if (carrinho != null && carrinho.Count > 0)
        {
            foreach (var product in carrinho)
            {
                <li class="media">
                    <img class="mr-4" src="~/Content/images/tenis.jpg" alt="Generic placeholder image" width="120" height="120">
                    <div class="media-body">
                        <h6 class="mt-0 mb-3"><strong> @product.produto.Nome; </strong></h6>
                        <h6>Preço por unidade: R$ @product.produto.Preco</h6>
                        <h6>Quantidade: @product.quantidade</h6>
                        <h6>Preço: R$ @(product.produto.Preco * product.quantidade)</h6>
                    </div>
                    <a href="@Url.Action("Excluir","Carrinho", new { id = i})">
                        <em class="fas fa-times fa-2x text-dark"></em>
                    </a>
                </li>
                i++;
            }
        }
        else
        {
            <h3 class="text-center">Nenhum item no carrinho</h3>
        }
    </ul>
    @if (carrinho != null)
    {
        <hr />
        <div class="row">
            <div class="col-sm-6">
                <h2>Preço total: @carrinho.Sum(c => c.quantidade * c.produto.Preco)</h2>
            </div>
            <div class="col-sm-6 text-right">
                <a href="@Url.Action("Checkout","Carrinho")" class="btn btn-primary">Confirmar</a>
            </div>

        </div>
    }

